.jumbotron{
  background-image: url("https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/10357470_866408423374097_2693129947605129231_n.jpg?oh=914a80a323e4e9384dbf95127daead2a&oe=57CF59B6");
  color: white;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  margin-top: 0px;
  margin-bottom: 8px;
}
