.jumbotron{
  background-image: url("http://windows10wall.com/wp-content/uploads/2013/10/Wallpapers-room_com___minimalement_dark_dv_by_eos8_1920x1200.png");
  color: white;
  background-size: cover;
  background-attachment: fixed;
  min-height: 200px;
  margin-top: 0px;
  margin-bottom: 8px;
}
